<!DOCTYPE html>
<html >
<head>
    <title>Ingrese su contraseña</title>
</head>
<body>
<h2>Bienvenido, <span th:text="${usuario.nombre}"></span></h2>
<form action="/correo/validarContraseña" method="post" th:object="${usuario}">
    <input type="hidden" th:field="*{nombre}" />
    <input type="password" th:field="*{contraseña}" required placeholder="Contraseña" />
    <button type="submit">Ingresar</button>
</form>
<p th:if="${error}" th:text="${error}" style="color:red;"></p>
</body>
</html>




